* {
  box-sizing: border-box
}

.picture {
  background-image: url('./assets/login-pic@3x.png');
  height: 80vh;
  background-size: cover;
  background-position: center center;
}

.login-title {
  color: rgba(30,13,45,.8);
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}




